
.perfil{
    display: flex;
      align-items: center;
      justify-content: row;

    
    }
    .perfil-main{
        margin-top: 10rem;
    }
    .card-perfil{
        flex: 1;
        margin-top: 70px;
        height: 450px;
        left: 191px;
        top: 503px;
        margin-left: 80px;
     float:center;
        margin-bottom: 10rem;
        
    
    background: #212025;
    }
    .card-perfil{
        display: flex;
        text-align: center;
    }
    .card-perfil-1{
        margin-left:0;
    }
  .perfil-name{
      margin-top: 3rem;
      font-size: 26px;
  }

    .perfil-circle{
        margin: auto auto;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        background: seagreen;
    }

    .perfil-purple{
        margin: auto auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 140px;
        border-radius: 100%;
        background: #7F77FE;
    }
.perfil-image{
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    border-radius: 100%;
}