
.perfil{
    display: flex;
      align-items: center;
      justify-content: row;

    
    }
    .titulo2{
        margin-top: 10rem;
    }
    .card-perfil{
        flex: 1;
        margin-top: 70px;
        height: 450px;
        left: 191px;
        top: 503px;
        margin-left: 80px;
     float:center;
        margin-bottom: 10rem;
        
    
    background: #212025;
    }
    .card-perfil{
        display: flex;
    }
    .card-perfil-1{
        margin-left:0;
    }
  .perfil-name{
      margin-top: 3rem;
      font-size: 24px;
  }

    .perfil-circle{
        margin: auto auto;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        background: seagreen;
    }

    .perfil-purple{
        margin: auto auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        width: 190px;
        border-radius: 100%;
        background: #7F77FE;
    }
.perfil-image{
    margin: auto auto;
    display: flex;
    height: 180px;
    width: 180px;
    border-radius: 100%;
}
.perfil-cergo{
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;

}
.perfil-bio{
    max-width:200px;
    margin-top: 1rem;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
    text-align: justify;
    font-size: 14px;
}
